language="elixir"
run = "sh ./run.sh"
entrypoint = "./run.sh"
hidden = [".iex.exs"]

[env]
LC_ALL = "en_US.UTF-8"
HEX_HOME = "/home/runner/${REPL_SLUG}/.hex"
MIX_HOME = "/home/runner/${REPL_SLUG}/.mix"

[nix]
channel = "stable-21_11"

[interpreter]
command = ["iex"]
